[submodule "asciidoc-resources"]
	path = asciidoc-resources
	url = https://code.asam.net/common/style-resources.git
[submodule "doc/antora_sources/asam-antora-extensions"]
	path = doc/antora_sources/asam-antora-extensions
	url = https://code.asam.net/common/asam-antora-extensions
